@import url('https://fonts.googleapis.com/css2?family=Open+Sauce+One&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sauce One', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Open Sauce One', sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: 'Open Sauce One', sans-serif;
}

.form-field {
  position: relative;
  margin-right: 20px;
  width: 300px;
}

.floating-label {
  position: absolute;
  top: -5px;
  left: 10px;
  transform-origin: top left;
  transition: transform 0.3s, color 0.3s;
  pointer-events: none;
  font-size: 16px;
  background-color: #fff;
  padding: 0 5px;
}

input {
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #1976d2;
}

input:not(:placeholder-shown) + .floating-label,
input:focus + .floating-label {
  transform: translateY(-120%) scale(0.8);
  font-size: 12px;
  color: #1976d2;
}

.event-name {
  font-size: calc(3.5 * (1.5vh + 1.1vw));
  font-weight: 800;
  line-height: 90.45px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #72035D;
  margin-bottom: calc(1 * (1.5vh + 1.1vw));
  width: 100%;
}

.countdown-text {
  font-size: calc(3.5 * (1.5vh + 1.1vw));
  font-weight: 400;
  line-height: 111px;
  text-align: center;
  margin-bottom: calc(1 * (1.5vh + 1.1vw));
  width: 100%;
}

/* Portrait Mode */
@media only screen and (orientation: portrait) {
  .main {
    align-items: center;
  }

  .event-name {
    font-size: calc(1.6 * (1.5vh + 1.1vw));
    font-weight: 800;
    line-height: 37.8px;
    letter-spacing: -0.02em;

  }

  .countdown-text{
    font-size: calc(1.8 * (1.5vh + 1.1vw));
    font-weight: 400;
    line-height: 48px;

  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .form-field {
    margin-right: 0;
    margin-bottom: 20px;
  }
}


